.carousel {
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  
  .inner {
    white-space: nowrap;
    transition: transform 0.3s ease;
  }
  
  .carouselItem {
    display: inline-block;
    height: 100%;
  }
  