/* styles/Home.module.css */

.container {
    padding: 0;
    margin: 0;
  }
  .parent{
    max-width: 60%;
    margin: 0 auto;
  }
  
  .main {
    padding-top: 70px; /* Adjust padding to account for the fixed nav bar height */
  }

  .social div{
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    gap: 1.2rem;
    transition: all 250ms ease-in;
    cursor: pointer;
  }

  .social{
    display: flex;
    gap: 1rem;
  }
  
  .heroSection {
    text-align: center;
    padding: 2rem 0;
    display: grid;
    gap: 1rem;
    position: relative;
    grid-template-columns: repeat(3,1fr);
  }

  .img {
    /* position: absolute;
    top: 10rem;
    left: 50%; */
    /* mix-blend-mode: multiply; */
    border-radius: 20px;
  }
  


  .heroSection section{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .heroSection section:first-child{
    grid-column: 2/3;
    grid-row: 1/3;
    align-items: center;
    justify-content: center;
    mix-blend-mode: multiply;
    max-width: 100%;
    min-width: 200px;
      object-fit: cover;

  } 

  .heroSection section:nth-child(2){
    grid-column: 1/2;
    flex-direction: column;
    align-items: flex-start;
  }

  .heroSection section:nth-child(3){
    grid-column: 3/4;
    align-items: flex-start;
    justify-content: flex-end;
    font-style: italic;
  }

  .heroSection section:nth-child(4){
    grid-column: 1/2;

flex-direction: column;
    align-items: flex-start;
        
      }

      .heroSection section:nth-child(5){
    grid-column: 3/4;

        /* flex-direction: column; */
        font-size:2rem;
        /* align-items: flex-end; */
        justify-content: flex-end;
        /* gap: 1rem; */
                
              }

              .heroSection section:nth-child(4) .social div{
                border: 1px solid black;
                padding: 0.9rem;
                border-radius: 100%;
                cursor: pointer;
              }

  .heroSection section .experience{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-align: left;
  }

  .heroSection section .experience p:first-child{
    font-size: 5rem;
    font-weight: 800;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
  }

  .info{
    text-align: right;
  }
  
  .subtitle {
    font-size: 1.5rem;
    color: #777;
  }
  
  .experience {
    font-size: 1.25rem;
    color: #555;
  }
  
  .skillsSection {
    margin-top: 2rem;
    padding-top: 4rem;
  }



  .social div:hover{
    transform: scale(1.2);
    color: green;
  }
  
  @media (max-width: 1250px) {
    .title{
      font-size: 1.5rem;
    }
    .heroSection{
      /* border: 1px solid red; */
    }
  }

  @media (max-width: 1000px){
    .heroSection {
      text-align: center;
      padding: 2rem 0;
      display: grid;
      gap: 3rem;
      position: relative;
      grid-template-columns: repeat(3,1fr);
    }
    .heroSection section:nth-child(3){
      font-size: 0.7rem;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .heroSection section:nth-child(1){
      grid-column: 1/-1;
      flex-direction: column;
      grid-row: 2/3;
      align-items: flex-start;
    }
    .social{
      display: flex;
      flex-direction: column;
      font-size: 2rem;
      gap: 0.7rem;
    }
  }

  @media (max-width: 800px){
    .skillsSection{
      max-width: 100%;
      margin: 0 auto;
    }
    .parent{
      max-width: 95%;
    }
    .heroSection {
      text-align: center;
      padding: 2rem 0;
      display: grid;
      gap: 1rem;
      position: relative;
      grid-template-columns: 1fr;
    }
    .heroSection section:nth-child(2){
      grid-column: 1/2;
      font-size: 0.7rem;
      flex-direction: column;
      grid-row: 1/2;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .heroSection section:nth-child(3){
      grid-column: 1/2;
      font-size: 0.7rem;
      flex-direction: column;
      grid-row: 2/3;

    }
    .info{
      text-align: left;
    }
    .heroSection section:nth-child(4){
      grid-column: 1/2;
      font-size: 0.7rem;
      flex-direction: column;
      grid-row: 3/4;
      align-items: flex-start;
      justify-content: flex-start;

    }
    .heroSection section:nth-child(5){
      grid-column: 2/3;
      flex-direction: column;
      grid-row: 3/4;
      align-items: center;
      justify-content: center;
    }
    .heroSection section .experience p:first-child{
      font-size: 2rem;
      font-weight: 800;
    }
    .heroSection section .experience p:last-child{
      font-size: 0.5rem;
      font-weight: 800;
    }
    .social div{
      display: flex;
      flex-direction: column;
      font-size: 1.6rem;
      gap: 0.7rem;
      transition: all 250ms ease-in;
      cursor: pointer;
    }

    .heroSection section:nth-child(1){
      grid-column: 1/-1;
      flex-direction: column;
      grid-row: 4/5;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }