 /* components/NavBar.module.css */

.navBar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:rgba(255, 228, 196,1);
    color: black;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it stays above other content */
    
  }
  .nav{
    max-width: 60%;
    margin: 0 auto  ;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.call a{
    font-size: 1rem;
}
  .call div{
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 100%;
    padding: 0.3rem;
    transition: all 500ms ease-in-out;
  }

  .call div:hover{
    transform: scale(1.2);
    cursor: pointer;
  }

  .call{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
  }
  .navList {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 0.5rem;
    /* gap: 1rem; */
  }
  
  .navItem {
    /* margin: 0 1rem; */
    font-family: 'Arial, sans-serif';
    font-size: 1rem;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 0.4rem 2rem;
    transition: border 0.3s ease;
    border-radius: 5px;
  }
  
  .navItem:hover {
    border: 1px solid black;

  }

  .rightIcon{
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .logo a{
    font-family: fantasy;
    font-size: 2rem;
    font-style: "italic",
  }

  @media (max-width:1200px){
    .navBar {
      position: fixed;
      top: 0;
      width: 100%;
      background-color:rgba(255, 228, 196,1);
      color: black;
      padding: 1rem 0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      z-index: 1000; /* Ensure it stays above other content */
      
    }
    .nav{
      max-width: 60%;
      margin: 0 auto  ;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .navList {
      list-style: none;
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      gap: 0.5rem;
    }
    .navItem {
      /* margin: 0 1rem; */
      font-family: 'Arial, sans-serif';
      font-size: 0.7rem;
      border: 1px solid transparent;
      cursor: pointer;
      padding: 0.4rem 1rem;
      transition: border 0.3s ease;
      border-radius: 5px;
    }
    .call a{
      font-size: 0.8rem;
    }
    .logo a{
      font-family: fantasy;
      font-size: 2rem;
      font-style: "italic",
    }
  }

  @media(max-width:1000px){
    .nav{
      max-width: 80%;
    }
    .navList{
      display: none;
    }

    .logo a{
      font-size: 1rem;
    }
  }
  